 univeral file

body{
font-family: Arial, Helvetica, sans-serif;
background-color: #f4f4f4;
}

h1{
color: #333;
text-align: center;
}

h2.h3.h4.h5.h6{
    color: #555;
    margin-bottom: 10px;
    text-align: left;
}
p{
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 15px;
}
a{
    color: #0066cc;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #000000;
}
.btn:hover{
    background-color: #45a049;
}
.btn:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #000000;
    transform: translateY(4px);
}
img{
    max-width: 100%;
    height: auto;
}



ul{
    list-style: none;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    display: grid;
    gap: 10px;
}

.m-10{
    margin: 10px;
}
.p-10{
    padding: 10px;
}
.text-center{
    text-align: center;
}
.bg-primary{
    background-color: #007bff;
    color: #fff;
}

.bg-secondary{
    background-color: #ff0000;
    color: #fff;
}
.display-none{
    display: none;
}

.display-block{
    display: block;
}
.display-inline{
    display: inline;
}
.display-inline-block{
    display: inline-block;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.position-fixed{
    position: fixed;
}
.z-index-10{
    z-index: 10;
}
.z-index-20{
    z-index: 20;
}
.z-index-30{
    z-index: 30;
}
.header{
    background: #1600dd;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.footer{
    background: #1600dd;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}