body{
    background: black
}
.tube{
    width: 50px;
    height: 500px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100px;
    background-color: rgb(8, 0, 255);
    top: 0px;
    left: 0px;
    position: relative;
    box-shadow:  0 0 25px rgb(8, 0, 255);

}